data/ filter=lfs diff=lfs merge=lfs -text
src/saved_models/ filter=lfs diff=lfs merge=lfs -text
src/saved_models/hubert/hubert_base.pt filter=lfs diff=lfs merge=lfs -text
src/saved_models/rmvpe/rmvpe.pt filter=lfs diff=lfs merge=lfs -text
data/my_voice/lord_of_the_rings_chapter_I.wav filter=lfs diff=lfs merge=lfs -text
data/my_voice/lord_of_the_rings_chapter_I.wav filter=lfs diff=lfs merge=lfs -text
data/to_inference_vocals/red_sun_in_the_sky_vocals.wav filter=lfs diff=lfs merge=lfs -text
src/saved_models/fine_tuned/fine_tuned_model.index filter=lfs diff=lfs merge=lfs -text
src/saved_models/fine_tuned/fine_tuned_generator.pth filter=lfs diff=lfs merge=lfs -text
data/inferred_vocal_instrumental/california_gurls_full.wav filter=lfs diff=lfs merge=lfs -text
data/inferred_vocal_instrumental/xue_hua_piao_piao_full.wav filter=lfs diff=lfs merge=lfs -text
